<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">123456aA@</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_3</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <property name="show_sql">true</property>
    
    <mapping class = "model.Subject"/>
    <mapping class = "model.Student"/>
   	<mapping class = "model.Student_Subject"/>
    <mapping class = "model.Teacher"/>
    <mapping class = "model.Teacher_Subject"/>
    <mapping class = "model.Manager"/>
 
  	<mapping class = "model.StudentAccount"/>
  	<mapping class ="model.TeacherAccount"/>
  	<mapping class ="model.ManagerAccount"/>
     	
</session-factory>
     
     	


</hibernate-configuration>
